body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(26, 26, 26);
  overflow: hidden;
  background: white;
  transition: background 300ms ease;
}
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}


.terminal {
  height: 100%;
  background: black;
}
#terminal {
  height: 100%;
}
.xterm .xterm-viewport {
  overflow-y: hidden;
}


.terminalWindow {
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  align-self: center;
  justify-self: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease, transform 300ms ease-out;
}
.fakeButtons {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  display: inline-block;
  margin: 9px 6px 0 0;
}
.fakeClose {
  margin-left: 12px;
  background-color: #ff3b47;
  border-color: #9d252b;
}
.fakeMinimize {
  background-color: #ffc100;
  border-color: #9d802c;
}
.fakeZoom {
  background-color: #00d742;
  border-color: #049931;
}
.fakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  overflow: hidden;
}
.fakeMenu > span {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 4px;
  transform: translateY(-1px);
}
.fakeMenu .separator {
  display: inline-block;
  width: 8px;
}
.fakeMenu > span a {
  cursor: pointer;
  text-decoration: none;
}
.fakeMenu > span a:hover {
  text-decoration: underline;
}
.fakeScreen {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 32px);
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
}