body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(26, 26, 26);
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
iframe{
  overflow:hidden;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.green {
  color: green !important;
}


.button {
  display: inline-block;
  cursor: pointer;
  transition: opacity 300ms ease, transform 300ms ease-in-out, color 300ms ease-in-out;
}
.button:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
.button:active {
  transform: translateY(20px);
}


.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-content: center;
  height: 100%;
  width: 100%;
  transition: width 300ms ease-out;
}
.container.withSidebar {
  width: 50%;
}


.clockForecast {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  align-self: center;
  grid-gap: 2em;
}
.clockForecast .weather {
  text-align: left;
  padding-right: 4em;
}
.clockForecast .day {
  text-align: right;
  padding-left: 4em;
}
.clockForecast .big {
  font-size: 5.4em;
  display: block;
  font-weight: 100;
  grid-column: span 2;
}
.clockForecast .weatherTimeline {
  width: 60%;
  margin: 3em auto 3em auto;
  grid-column: span 2;
  cursor: pointer;
}
.clockForecast .weatherTimeline .line {
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  transition: height 300ms ease;
}
.clockForecast .weatherTimeline:hover .line {
  height: 20px;
}
.clockForecast .weatherTimeline .progress {
  height: 4px;
  transition: background 1000ms ease;
  background: rgba(0, 0, 0, 0.4);
  transition: height 300ms ease, width 300ms ease;
}
.clockForecast .weatherTimeline:hover .progress {
  background: rgba(0, 0, 0, 1);
  height: 20px;
}
.clockForecast .weatherTimeline ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  transform: translateY(-4px);
}
.clockForecast .weatherTimeline li {
  position: absolute;
  height: 20px;
  transform: translateY(-20px);
  transition: transform 300ms ease, height 300ms ease;
  padding-top: 1em;
}
.clockForecast .weatherTimeline:hover li {
  height: 37px;
  transform: translateY(-30px);
}
.clockForecast .weatherTimeline li .weatherItem {
  display: none;
  transition: opacity 300ms ease;
  width: 200px;
  transform: translateY(35px);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  text-align: left;
  padding-left: 1em;
  line-height: 1.3em;
}
.clockForecast .weatherTimeline li:hover .weatherItem {
  display: block;
  opacity: 1 !important;
}
.clockForecast .small {
  display: block;
  margin-top: 0.6em;
  font-size: 0.7em;
  opacity: 0.6;
  line-height: 1.2em;
}
.clockForecast .wi {
  margin-right: 0.2em;
}


.notes {
  padding: 2em;
  width: 100%;
  text-align: center;
}
.notes .button {
  font-size: 2em;
  opacity: 0.2;
  text-align: center;
}
.notes .button small {
  font-size: 0.3em;
  display: block;
  opacity: 0;
  transition: opacity 300ms ease;
}
.notes .button:hover small {
  opacity: 0.5;
}
.notes nav {
  width: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}
.notes .summary {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.notes .tagSummaryLink {
  display: inline-block;
  margin: 0 0.2em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease;
}
.notes .tagSummaryLink:hover {
  color: #000;
  opacity: 1;
}


@keyframes sidebarSlideIn {
  from { right: -50%; }
  to { right: 0%; }
}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 2em;
  background: #FFF;
  line-height: 1.4em;
  overflow-y: scroll;
  animation: sidebarSlideIn 300ms ease-out;
}
.sidebar nav {
  border-top: dotted 1px #999;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
}
.sidebar nav > div:last-of-type {
  text-align: right;
}
.sidebar nav a {
  font-size: 2em;
  opacity: 0.2;
}
.sidebar nav a.close:hover {
  color: red;
}
.sidebar nav a.save:hover {
  color: green;
}
.sidebar hr {
  border-top: none;
  border-bottom: dotted 1px #999;
  margin-top: 1em;
  margin-bottom: 1em;
}


.editor {
  font-size: 1em;
  height: 100%;
  display: grid;
  grid-template-rows: auto 2em 2em;
  grid-row-gap: 1em;
}
.editor p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.editor .mde-text {
  height: 100%;
}
.editor #editorArea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1em;
  height: 100%;
}
.editor .meta {
  font-size: 0.7em;
  opacity: 0.5;
  line-height: 1.4em;
}


.search {
  font-size: 1em;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 40px;
  grid-row-gap: 1em;
}
.search .searchInput {
  font-size: 1em;
  font-family: inherit;
  width: 100%;
  outline: none;
  border: none;
  display: block;
  margin-bottom: 0.5em;
}
.search .progress {
  background: #e6e6e6;
  width: 100%;
  height: 6px;
  margin-bottom: 1em;
}
.search .progressBar {
  background: green;
  height: 100%;
  transition: width 500ms ease-out;
}
.search .list {
  overflow-y: scroll;
  overflow-x: hidden;
}
.search .pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 1em;
  font-size: 0.8em;
}
.search .pagination a {
  font-size: 1.5em;
}


.note {
  display: block;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  max-height: 12em;
  overflow: hidden;
  position: relative;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(222, 222, 222, 0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(222, 222, 222, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(222, 222, 222, 0.75);
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  margin-right: 0.5em;
}
.note .gradient {
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
}
.note-expanded {
  overflow: auto;
  max-height: none; 
}
.note-done {
  border-left: solid 5px green;
}
.note::after {
  content: " ";
  clear: both;
  display: table;
}
.note a {
  color: #000;
  font-weight: bold;
}
.noteMeta {
  float: right;
  text-align: right;
  font-size: 0.7em;
  opacity: 0;
  line-height: 0;
  transition: opacity 300ms ease;
}
.noteMeta .button {
  font-size: 2em;
  opacity: 0.2;
  margin-left: 0.4em;
}
.note:hover .noteMeta {
  opacity: 1;
}
.noteContent p {
  margin: 0;
}
.noteContent h1, .noteContent h2, .noteContent h3, .noteContent h4, .noteContent h5 {
  line-height: 1.1em;
}


.calendar {
  padding-bottom: 1em;
}
.calendar .monthTitle a {
  display: block;
  cursor: pointer;
}
.calendar .monthTitle a:hover {
  opacity: 0.8;
}
.calendar .monthTitle {
  font-size: 0.7em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}
.calendar .monthTitle:last-child {
  border-top: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: none;
}
.react-calendar__month-view {
  padding: 1em 0;
}
.react-calendar__month-view__weekdays {
  font-size: 0.7em;
  opacity: 0.8;
  text-align: center;
}
.react-calendar__tile {
  border: solid 1px rgba(0, 0, 0, 0);
  padding: 1em;
  border-radius: 2px;
  font-size: 0.8em;
}
.react-calendar__tile.withNotes {
  background: rgb(115, 165, 221);
}
.react-calendar__tile:hover {
  border: solid 1px rgba(0, 0, 0, 0.4);
}
.react-calendar__month-view__days__day--weekend {
  color: red;
}
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.2;
}

/*
react-calendar__tile react-calendar__month-view__days__day react-calendar__month-view__days__day--weekend react-calendar__month-view__days__day--neighboringMonth
*/