body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(26, 26, 26);
  overflow: hidden;
  background: white;
  transition: background 1300ms ease;
}
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}

#terminal {
  height: 100%;
}
.xterm .xterm-viewport {
  overflow-y: hidden;
}


.terminalWindow {
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  align-self: center;
  justify-self: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease, transform 300ms ease-out;
}
.terminalWindow.maximized {
  width: 100%;
  height: 100%;
}
.fakeButtons {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  display: inline-block;
  margin: 9px 6px 0 0;
  cursor: pointer;
}
.fakeClose {
  margin-left: 12px;
  background-color: #ff3b47;
  border-color: #9d252b;
}
.fakeMinimize {
  background-color: #ffc100;
  border-color: #9d802c;
}
.fakeZoom {
  background-color: #00d742;
  border-color: #049931;
}
.fakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  overflow: hidden;
}
.fakeMenu > span {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 4px;
  transform: translateY(-1px);
}
.fakeMenu .separator {
  display: inline-block;
  width: 8px;
}
.fakeMenu > span a {
  cursor: pointer;
  text-decoration: none;
}
.fakeMenu > span a:hover {
  text-decoration: underline;
}
.terminalWindow.maximized .fakeMenu {
  display: none;
}
.fakeScreen {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 32px);
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
}
.terminalWindow.maximized .fakeScreen {
  height: 100%;
}
.splitGridScreen {
  position: relative;
  height: 100%;
}
.splitGridScreen nav {
  position: absolute;
  top: 0;
  right: 0.5em;
  z-index: 999;
}
.verticalSplit {
  border-right: dotted 1px rgb(70, 70, 70);
}
.horizontalSplit {
  border-bottom: dotted 1px rgb(70, 70, 70);
}
.splitGridItem {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.1em;
  padding: 0.2em;
  opacity: 0.2;
  transition: opacity 300ms ease;
  font-size: 0.9em;
}
.splitGridItem:hover {
  opacity: 1;
}


.clockForecast {
  text-align: center;
  align-self: center;
  opacity: 0;
  transition: opacity 400ms ease-out;
  transition-delay: 200ms;
}
.clockForecast .weather {
  text-align: center;
  margin-top: 3em;
  font-size: 0.8em;
}
.clockForecast .day {
  text-align: center;
}
.clockForecast .day .medium {
  font-weight: 100;
}
.clockForecast .big {
  font-size: 5.4em;
  display: block;
  font-weight: 100;
  grid-column: span 2;
}
.clockForecast .small {
  display: block;
  margin-top: 0.6em;
  font-size: 0.7em;
  opacity: 0.6;
  line-height: 1.2em;
}
.clockForecast .medium {
  display: block;
  margin-top: 0.6em;
  font-size: 2em;
  opacity: 0.6;
  line-height: 1.2em;
}
.clockForecast .weather .days {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 12em);
}
.clockForecast .wi {
  margin-right: 0.2em;
}
.clockForecast .newTerminal {
  display: block;
  grid-column: span 2;
  margin: 2em 0;
}
.clockForecast .newTerminal a {
  opacity: 0.4;
  display: inline-block;
  cursor: pointer;
  transition: transform 300ms ease-out, opacity 300ms ease;
}
.clockForecast .newTerminal a:hover {
  transform: scale(1.1);
  opacity: 1;
}


.geoLocation {
  position: absolute;
  bottom: 3em;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-size: 0.8em;
}


.openSettings {
  cursor: pointer;
  position: absolute;
  bottom: 0.8em;
  text-align: center;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  font-size: 1em;
  transition: transform 300ms ease, opacity 300ms ease;
  opacity: 0.5;
}
.openSettings:hover {
  transform: scale(1.5);
  opacity: 1;
}


.settings {
  text-align: center;
}
.settings h1 {
  font-size: 2em;
  font-weight: 100;
}
.settings code {
  font-family: inherit;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  background: #3d8e8e;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
.settings .close {
  display: block;
  margin: 1em 0;
  font-size: 2em;
  transition: transform 300ms ease, opacity 300ms ease;
  cursor: pointer;
}
.settings .close:hover {
  transform: scale(1.5);
}
.settings .button {
  cursor: pointer;
  display: inline-block;
  margin: 0.5em;
  padding: 0.8em;
  border-radius: 8px;
  background: #fff;
  transition: background 300ms ease;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.94);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.94);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.94);
}
.settings .button:active {
  transform: translateY(2px);
}
.settings .button:hover {
  background: #efefef;
  opacity: 1;
}
.settings input[type="number"] {
  display: inline-block;
  padding: 1em;
  font-size: 18px;
  font-family: inherit;
  border: none;
  background: #fff;
  margin: 0.5em;
}
.settings form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}